*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 6px 10px;
}

.header > div{
    padding: 10px;
}

.header a{
    font-size: small;
    color: #1f1f1f;
    text-decoration: none;
}

.logo, .search{
    align-self: center;
}

.search{
    padding: 20px;
    display: flex;
    align-items: center;
}

input[type="submit"]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: medium;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
